
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cidade</title>
    <link rel="stylesheet" href="/public/styles.css"> <!-- Ajuste conforme necessário -->
</head>
<body>
    <h1>Editar Cidade</h1>
    <form class="space-y-4" action="/editar-cidade/<%= cidade.id %>" method="POST" enctype="multipart/form-data">
        <div>
            <label for="nome">Nome da Cidade:</label>
            <input class="w-full" type="text" id="nome" name="nome" value="<%= cidade.nome %>" required>
        </div>
        <div>
            <label for="logo">Logo:</label>
            <input class="w-full" type="file" id="logo" name="logo">
            <span><%= cidade.logo ? cidade.logo : 'Nenhum arquivo escolhido' %></span>
        </div>
        <div>
            <label for="corpo">Corporação:</label>
            <input class="w-full" type="text" id="corpo" name="corpo" value="<%= cidade.corp %>" required>
        </div>
        <div>
            <label for="comandante">Comandante:</label>
            <input class="w-full" type="text" id="comandante" name="comandante" value="<%= cidade.comandante %>" required>
        </div>
        <div>
            <label for="telefone_contato">Telefone Contato:</label>
            <input class="w-full" type="text" id="telefone_contato" name="telefone_contato" value="<%= cidade.telefone_contato %>" required>
        </div>
        <div>
            <label for="telefone_inteligencia">Telefone Inteligência:</label>
            <input class="w-full" type="text" id="telefone_inteligencia" name="telefone_inteligencia" value="<%= cidade.telefone_inteligencia %>" required>
        </div>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
